 html, body {
            height: 100%;
            margin: 0;
        }

        .container-fluid {
            padding: 0;
        }

        .dc-background-container {
            background: url("https://wallpapers.com/images/featured/black-wuuaobghtdllhliu.jpg") no-repeat center center fixed;
            background-size: cover;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        h1, h2, p {
            font-family: 'Pacifico', cursive;
            color: white;
            text-align: center;
            margin-top: 50px;
        }

        .shining-text {
            font-size: 50px;
            text-shadow: 3px 3px 6px rgba(255, 255, 255, 0.8);
        }

        button {
            margin-top: 20px;
        }
