body {
      font-size: 16px;
      font-family: acumin-pro, system-ui, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #4F6F52;
      color: white !important;
  }

  .navbar {
      background-color: #E7B10A !important;
  }

  .landing {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: black;
      background-image: url("https://cdn.gencraft.com/prod/user/86b1c932-03c7-43ed-9b5e-8cd1c2134c93/406695c4-27a2-4852-b64c-9fb3e41401c7/image/image0_0.jpg?Expires=1704586768&Signature=U1l2d5czxZl4QNKFekPUu3Ad07EEj9SNLU4gV4yEt6Nr-KRsBK5Kn7fuWUwnFbYYheM85W032pNtEFVMvIiKymF~7JC5lC-VmvGSoQBhGH3BBL69KQboEr7N1f0kOdUPf2bELAzwDTb1MyDVxB4Ay09zUszh0PIxUAUyj3L-1YvpMvyf9d-LwlkyxJDNl1l2g50XMOm5I8~JLoqCvryvr2RqmHB99SpdIVALEj9ALZEcTSXbLgIdm8WmCgVfA9OIcmsOkb3dGU642CfZfwJOIbpx-JDJgym8oYvn8AM4FsmbyOvBqJ-R7MbNmMCQ4i~vlIcedjuW9rUJIzT8WJWvfw__&Key-Pair-Id=K3RDDB1TZ8BHT8");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      text-align: center;
      color: black !important;
  }

  .quote-landing {
      font-size: 20px;
  }

  h1, p {
      margin: 0;
      color: white !important;
  }

  h1 {
      font-size: 3em;
      margin-bottom: 10px;
  }

  p {
      font-size: 1.5em;
      margin-bottom: 20px;
  }

  .btn {
      font-size: 1.2em;
      padding: 10px 20px;
      color: white;
      background-color: #fff;
      text-decoration: none;
  }

  @media only screen and (max-width: 767px) {
      h1 {
          font-size: 2em;
      }
      p {
          font-size: 1.2em;
      }
      .btn {
          font-size: 1em;
      }
  }

  @media (min-width: 768px) and (max-width: 991px) {
      .landing {
          background-size: auto 100%;
      }
  }

  @media only screen and (width: 1024px) and (height: 600px) {
      .landing {
          background-size: cover;
      }
  }
  
.dc-foto1 {
  width: 80px !important;
  height: 80px !important;
}
.btn, .btn-primary {
  background-color: #E7B10A;
}
